﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/bootswatch/yeti/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            @*<img src="~/img/pix.jpg" class="profileimg" />*@<small>Logged in as:</small><br />
            <span id="username">@User.Identity.Name</span>
        }
            <ul class="nav">
                <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
                @if (User.IsInRole("DevOpsAdmin"))
                {
                    <li><a asp-controller="App" asp-action="Kudabank">Kudabank</a></li>
                    <li><a asp-controller="App" asp-action="Appzone">Appzone</a></li>
                    <li><a asp-controller="App" asp-action="AccessBank">Access Bank</a></li>
                    <li><a asp-controller="App" asp-action="ZenithBank">Zenith Bank</a></li>
                    <li><a asp-controller="App" asp-action="GTBank">GT Bank</a></li>
                    <li><a asp-controller="App" asp-action="Etranzact">Etranzact</a></li>
                    <li><a asp-controller="App" asp-action="InfoBip">Infobip</a></li>
                    @*<li><a asp-controller="App" asp-action="AccountList">Account Management</a></li>*@
                }


                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
                }
            </ul>
        <br />
        <h3>Other Actions</h3>
        <ul class="nav">
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="App" asp-action="PendingUpgrade">Upgrade Accounts</a></li>
                @*<li><a asp-controller="App" asp-action="AccountList">Account Management</a></li>*@
                @*<li><a asp-controller="App" asp-action="InwardTransfers">All Inwards</a></li>
                <li><a asp-controller="App" asp-action="InwardTransfers">All Outwards</a></li>*@

                <li><a asp-controller="App" asp-action="CardManagement">Card Management</a></li>
                <li><a asp-controller="App" asp-action="VerificationOverview">Verification Overview</a></li>
                <li><a asp-controller="App" asp-action="PendingApproval">Approval Work Item</a></li>



            }
        </ul>

        <ul class="nav">
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("ProductManager"))
                {
                    <li><a asp-controller="App" asp-action="PendingUpgrade">Upgrade Accounts</a></li>
                    <li><a asp-controller="App" asp-action="CardManagement">Card Management</a></li>
                    <li><a asp-controller="App" asp-action="ManageMerchant">Manage Merchants</a></li>
                    @*<li><a asp-controller="App" asp-action="SendEmail">Send Email</a></li>*@
                }
                @if (User.IsInRole("CustomerServiceAdmin") || User.IsInRole("Admin"))
                {
                    <li><a asp-controller="App" asp-action="DisputeTransaction">Failed Outward Transactions</a></li>
                    <li><a asp-controller="App" asp-action="DisputeTransactionInward">Failed Inward Transactions</a></li>
                    @*<li><a asp-controller="App" asp-action="SendEmail">Send Email</a></li>*@
                }
                <li><a asp-controller="App" asp-action="AccountList">Account Management</a></li>
                <li><a asp-controller="App" asp-action="AgentList">Agents Overview</a></li>
                <li><a asp-controller="App" asp-action="SendEmail">Send Email</a></li>



                @*<li><a asp-controller="App" asp-action="DisputeTransaction">Update Transactions</a></li>*@
                @*<li><a asp-controller="App" asp-action="PendingUpgrade">Upgrade Accounts</a></li>*@

            }
        </ul>

    </div>
    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary btn-sm">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">Service Monitoring Application</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-controller="App" asp-action="About"><i class="fa fa-save"></i>About</a>
                    </li>
                    <li>
                        <a asp-controller="App" asp-action="Contact"><i class="fa fa-print"></i>Contact</a>
                    </li>
                </ul>
            </div>

        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
            <div>
                @RenderBody()
            </div>
        </div>

        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info"> &copy;Kudabank Backend Services</h4>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js">
    </script>

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/js/site.js">
    </script>

    @RenderSection("Scripts", false);
</body>
</html>
