﻿@model IEnumerable<Monitor.Models.AppzoneCalls>
@{
    ViewBag.Title = "Monitor Appzone APIs";
}
<h2>Appzone API Availability</h2>
@{int i = 1;}

<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Up: @Model.Where(x => x.Vendor == "Appzone" && x.Available == "True").Count()
</h4>
<h4>
    Total Down: @Model.Where(x=> x.Vendor == "Appzone" && x.Available == "False").Count()
</h4>
<div class="row">
    <div class="col-md-6">

        <table class="table table-hover table-bordered">
            <br />
            <tr>
                <th>#</th>
                <th>EndPoint</th>
                <th>URL</th>
                <th>Response</th>
                <th>Available</th>
            </tr>
            @foreach (var appzone in Model.Where(x => x.Vendor == "Appzone").ToList())
            {
                @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                <tr style="@(appzone.Available == "True" ? "background-color:green" : "background-color:red")">
                    <td>@{i = i + 1;}
                    </td>
                    <td>@appzone.EndPoint</td>
                    <td>@appzone.URL</td>
                    <td>@appzone.ResponseCode</td>
                    <td>@appzone.Available.ToString()</td>
                </tr>

            }

            @*<tr bgcolor="green">
            <td>1</td>@(appzone.Available=="True" ? "available" : "unavailable")
            <td>GetCustomerCards</td>
            <td>thirdpartyapiservice/apiservice/Cards/GetCustomerCards</td>
            <td>400</td>
            <td>YES</td>
        </tr>
        <tr bgcolor="green">
            <td>2</td>
            <td>GetCardOwner</td>
            <td>thirdpartyapiservice/apiservice/Cards/GetCardOwner</td>
            <td>200</td>
            <td>YES</td>
        </tr>
        <tr bgcolor="red">
            <td>3</td>
            <td>Hotlist</td>
            <td>thirdpartyapiservice/apiservice/Cards/Hotlist</td>
            <td>503</td>
            <td>NO</td>
        </tr>*@
        </table>
    </div>
</div>