﻿@model IEnumerable<Monitor.Models.CardRequest>
@{
    ViewBag.Title = "Card Requests";
}
<h2>Card Management Dashboard</h2>


<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Successful Requests: @Model.Where(x => x.status == 2).Count()
</h4>
<h4>
    Total Default PIN Set: @Model.Where(x=> x.pinField == "YES").Count()
</h4>
<h4>
    Total PIN Changed: @Model.Where(x => x.pinChangedByCustomer == true).Count()
</h4>

<div class="row">
    <div class="col-md-6 col-md">
        <div class="tablecontainer">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100" id="utable">
                <br />
                <thead>
                    <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Date Submitted</th>
                        <th class="th-sm">Account No</th>
                        <th class="th-sm">First Name</th>
                        <th class="th-sm">Middle Name</th>
                        <th class="th-sm">Last Name</th>
                        <th class="th-sm">Gender</th>
                        <th class="th-sm">Email</th>
                        <th class="th-sm">Phone</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Default PIN</th>
                        <th class="th-sm">Street</th>
                        <th class="th-sm">City</th>
                        <th class="th-sm">State</th>
                      @*//  @if (User.IsInRole("Admin"))
                      //  {*@
                            <th class="th-sm">Quick Action</th>
                            <th class="th-sm">More Action</th>
                     

                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;
                        @foreach (var item in Model)
                        {
                        @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                        @*<tr style="@(item.Available == "True" ? "background-color:green" : "background-color:red")">*@
                    <tr>

                        <td>
                            @{i = i + 1;
                                @i;}
                        </td>
                        <td>@item.timeSubmitted</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.firstName</td>
                        <td>@item.middleName</td>
                        <td>@item.lastName</td>
                        <td>@item.sex</td>
                        <td>@item.email</td>
                        <td>@item.phone</td>
                        <td>@item.status_string</td>
                        <td>@item.pinField</td>
                        <td>@item.streetAddressField</td>
                        <td> @item.cityField</td>
                        <td>@item.stateField</td>
                        @*@if (User.IsInRole("Admin"))
                        {*@
                            <td>

                                <input type="button" name="Set PIN" id='id_@item.AccountNumber' class="btn btn-default" onclick="setDefaultPin(@item.AccountNumber)" value="Set PIN" /> | <input type="button" name="Block Card" id='id_@item.' class="btn btn-danger" onclick="blockCard('@item.AccountNumber')" value="Block Card" />
                                @Html.Hidden("RedirectTo", Url.Action("CardManagement", "App"))

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditAccount", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </td>
                                          </tr>

                    }  }

                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/js/site.js">
    </script>
</div>
<div class="loader hideLoader">
    <span>Loading...</span>
</div>
