﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Monitor.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h2>Contact Admin</h2>
        <form action="/" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" name="Name" value="" class="form-control" />
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" name="Email" value="" class="form-control" />
                <span asp-validation-for="Email" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea asp-for="Message" name="Message" value="" cols="40" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="App" class="btn btn-default">Cancel</a>
                <input type="submit" name="Submit" value="Send Message" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>