﻿@model IEnumerable<Monitor.ViewModels.DisputeTransactionVM>
@{
    ViewBag.Title = "Dispute Outward Transactions";
}
<h2>Failed Outward Transfers</h2>

<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Disputed Transactions:  @Model.Where(x => x.ID != 0).Count()
</h4>
<h4></h4>
<div class="row">
    <div class="col-md-6 col-md">
        <li><a asp-controller="App" asp-action="OutwardTransfers">All Outwards</a></li>
        <div class="tablecontainer">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100" id="utable">
                <br />
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="th-sm">Time</th>
                        <th class="th-sm">Originator Name</th>
                        <th class="th-sm">Originator Account</th>
                        <th class="th-sm">Beneficiary Name</th>
                        <th class="th-sm">Beneficiary Account</th>
                        <th class="th-sm">Beneficiary Bank</th>
                        <th class="th-sm">Amount</th>
                        <th class="th-sm">Session ID</th>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <th class="th-sm">Quick Action</th>
                            @*<th class="th-sm">More</th>*@

                        }
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;
                        @foreach (var item in Model)
                        {
                            @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                            @*<tr style="@(item.Available == "True" ? "background-color:green" : "background-color:red")">*@
                    <tr>

                        <td>
                            @{i = i + 1;
                                @i;}
                        </td>
                        <td>@item.Time</td>
                        <td>@item.OriginatorNameField</td>
                        <td>@item.OriginatorNumberField</td>
                        <td>@item.BeneficiaryNameField</td>
                        <td>@item.BeneficiaryNumberField</td>
                        <td>@item.BeneficiaryBankField</td>
                        <td>@item.Amount</td>
                        <td>@item.SessionID</td>
                        <td>

                            <input type="button" name="Treat" id='id_@item.SessionID' class="btn btn-danger" onclick="showTreatModal('@item.TranID','DisputeAction','@item.SessionID',' @User.Identity.Name',@item.Amount,'@item.OriginatorNumberField','@item.Remark', '@item.TransactionRef','@item.nibssResponseField', '@item.nibssRequeryResponseField', '@item.StatusField', '@item.TranID','@item.feeField', '@item.coreResponseField','@item.coreReversalResponseField', '@item.DestinationBank', '@item.systemMessageField', '@item.pendingRetrialField','@item.Channel')" value="Treat" />
                            @Html.Hidden("RedirectTo", Url.Action("DisputeTransaction", "App"))

                        </td>
                        @*<td>
            <input type="button" name="Details" id='id_@item.SessionID' class="btn btn-success" onclick="showMoreDetails('@item.Remark', '@item.TransactionRef','@item.nibssResponseField', '@item.nibssRequeryResponseField', '@item.StatusField', '@item.SNField','@item.feeField', '@item.coreResponseField')" value="Details" />
        </td>*@

                    </tr>

                        }}

                </tbody>
            </table>
        </div>

    </div>
    <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/js/site.js">
    </script>
</div>
<div class="loader hideLoader">
    <span>Loading...</span>
</div>
<div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Treat transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <label for="sn">Serial No</label>
                        <text class="form-control" name="sn" id="sn"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="tranref">Transaction Ref</label>
                        <text class="form-control" name="tranref" id="tranref"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="status">Status</label>
                        <text class="form-control" name="status" id="status"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="coreresp">Core Response</label>
                        <text class="form-control" name="coreresp" id="coreresp"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="resp">Core Reversal</label>
                        <text class="form-control" name="corereversal" id="corereversal"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="resp">NIBSS Response</label>
                        <text class="form-control" name="resp" id="resp"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="reqresp">NIBSS Requery Response</label>
                        <text class="form-control" name="reqresp" id="reqresp"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="fee">Destination</label>
                        <text class="form-control" name="destination" id="destination"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="fee">System Message</label>
                        <text class="form-control" name="systemmessage" id="systemmessage"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="fee">Pending Retrial</label>
                        <text class="form-control" name="pendingretrial" id="pendingretrial"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="fee">Channel</label>
                        <text class="form-control" name="channel" id="channel"></text>
                    </div>
                    <div class="col-sm-12">
                        <label for="fee">Fee</label>
                        <text class="form-control" name="fee" id="fee"></text>
                    </div><br /><br />
                    <div>
                        <form name="selectDialog">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="ddown">Action</label>
                                    <select class="form-control" name="ddown" id="ddown">
                                        <option value="0"></option>
                                        <option value="1">Reverse Transaction</option>
                                        <option value="2">Mark as Successful</option>
                                        <option value="3">Mark as already Reversed</option>
                                        <option value="4">Do Nothing and Close</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-12 col-form-label">Remark</label>
                                <div class="col-sm-12">
                                    <textarea rows="5" type="text" class="form-control" name="inputName" id="area" placeholder=""></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submitFrm" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transation Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>
                        <form name="selectDialog">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="sn">Serial No</label>
                                    <text class="form-control" name="sn" id="sn"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="tranref">Transaction Ref</label>
                                    <text class="form-control" name="tranref" id="tranref"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="status">Status</label>
                                    <text class="form-control" name="status" id="status"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="coreresp">Core Response</label>
                                    <text class="form-control" name="coreresp" id="coreresp"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="resp">NIBSS Response</label>
                                    <text class="form-control" name="resp" id="resp"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="reqresp">NIBSS Requery Response</label>
                                    <text class="form-control" name="reqresp" id="reqresp"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="fee">Fee</label>
                                    <text class="form-control" name="fee" id="fee"></text>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submitFrm" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>
