﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Monitor.ViewModels.DisputeTransactionVM
@{
    ViewBag.Title = "Edit Transaction";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <li><a asp-controller="App" asp-action="DisputeTransaction">Back to list</a></li>
        <br />
        <h2>Edit Transaction</h2>
        <form action="@Url.Action("EditDisputeTransaction", "App")" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="ID">ID</label>
                <input asp-for="ID" type="text" name="ID" value="" class="form-control" />
                <span asp-validation-for="ID" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="TransactionRef">Transaction Ref</label>
                @*<input asp-for="TransactionRef" type="text" name="TransactionRef" value="" class="form-control" />*@
                <span asp-validation-for="TransactionRef" class="text-muted"></span>
                @Html.EditorFor(model => model.TransactionRef, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="AccountNo">Account No</label>
                @*<input asp-for="AccountNo" type="text" name="AccountNo" value="" class="form-control" />*@
                <span asp-validation-for="AccountNo" class="text-muted"></span>
                @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="Amount">Amount</label>
                @*<input asp-for="Amount" type="text" name="Amount" value="" class="form-control" />*@
                <span asp-validation-for="Amount" class="text-muted"></span>
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="SessionID">Session ID</label>
                @*<input asp-for="SessionID" type="text" name="SessionID" value="" class="form-control" />*@
                <span asp-validation-for="SessionID" class="text-muted"></span>
                @Html.EditorFor(model => model.SessionID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="Time">Time</label>
                @*<input asp-for="Time" type="text" name="Time" value="" class="form-control" />*@
                <span asp-validation-for="Time" class="text-muted"></span>
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @*<div class="form-group">
            <label asp-for="Send">Send Time</label>
            <input asp-for="Send" type="text" name="Send" value="" class="form-control" />
            <span asp-validation-for="Send" class="text-muted"></span>
        </div>*@
            <div class="form-group">
                <a asp-action="DisputeTransaction" asp-controller="App" class="btn btn-default">Cancel</a>
                <input type="submit" name="Submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>