﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Monitor.Models.Account
@{
    ViewBag.Title = "Update Account";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <li><a asp-controller="App" asp-action="AccountList">Back to list</a></li>
        <br />
        <div class="btn-group" role="group" aria-label="PND">
            <button type="button" class="btn btn-danger" onclick="activatePND(@Model.accountno)">Activate PND</button>
            <button type="button" class="btn btn-secondary" onclick="deactivatePND(@Model.accountno)">Deactivate PND</button>
            @*<button type="button" class="btn btn-secondary">Right</button>*@
        </div> |         <div class="btn-group" role="group" aria-label="LIEN">
            <button type="button" class="btn btn-danger" id='id_@Model.accountno' onclick="placeLIEN(@Model.accountno)">Place LIEN</button>
            <button type="button" class="btn btn-secondary" id='id_@Model.accountno' onclick="unplaceLIEN(@Model.accountno)">UnPlace LIEN</button>
            @*<button type="button" class="btn btn-secondary">Right</button>*@
        </div> |   <br />      <div class="btn-group" role="group" aria-label="PIN">
            <button type="button" class="btn btn-default" id='id_@Model.accountno' onclick="setDefaultPin(@Model.accountno)">Set Default PIN</button>
            <button type="button" class="btn btn-secondary" id='id_@Model.accountno' onclick="ApproveCard(@Model.accountno)">Approve PIN</button>
            @*<button type="button" class="btn btn-secondary">Right</button>*@
        </div>
        <br />
        <h2>Update Account</h2>
        <form>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="accountno">Account No</label>
                @*<input asp-for="accountno" type="text" name="accountno" value="" class="form-control" />*@
                <span asp-validation-for="accountno" class="text-muted"></span>
                @Html.EditorFor(model => model.accountno, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <label asp-for="firstName">First Name</label>
                @*<input asp-for="TransactionRef" type="text" name="TransactionRef" value="" class="form-control" />*@
                <span asp-validation-for="firstName" class="text-muted"></span>
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="middleName">Middle Name</label>
                @*<input asp-for="AccountNo" type="text" name="AccountNo" value="" class="form-control" />*@
                <span asp-validation-for="middleName" class="text-muted"></span>
                @Html.EditorFor(model => model.middleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="lastName">Last Name</label>
                @*<input asp-for="Amount" type="text" name="Amount" value="" class="form-control" />*@
                <span asp-validation-for="lastName" class="text-muted"></span>
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="email">Email Address</label>
                @*<input asp-for="SessionID" type="text" name="SessionID" value="" class="form-control" />*@
                <span asp-validation-for="email" class="text-muted"></span>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="phone">Phone</label>
                @*<input asp-for="Time" type="text" name="Time" value="" class="form-control" />*@
                <span asp-validation-for="phone" class="text-muted"></span>
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @*<div class="form-group">
                    <label asp-for="Send">Send Time</label>
                    <input asp-for="Send" type="text" name="Send" value="" class="form-control" />
                    <span asp-validation-for="Send" class="text-muted"></span>
                </div>*@
            <div class="form-group">
                <a asp-action="AccountList" asp-controller="App" class="btn btn-default">Cancel</a>
                <input type="submit" name="Submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div class="loader hideLoader">
    <span>Loading...</span>
</div>
@Html.Hidden("RedirectTo", Url.Action("AccountList", "App"))
@*action="@Url.Action("EditAccount", "App")" method="post"*@