﻿@model IEnumerable<Monitor.Models.AppzoneCalls>
@{ 
    ViewBag.Title = "Monitor APIs";
}
<div class="row">
    <h1>External API Monitoring Dashboard</h1>
    <p>Click on a service on the left to see availability of the endpoints</p>
    <a asp-controller="App" asp-action="ServiceList" class="btn btn-lg btn-success">Service List</a>
</div>