﻿@model IEnumerable<Monitor.ViewModels.DisputeTransactionVM>
@{
    ViewBag.Title = "NIP Outward Transfers";
}
<h2>Outward Transfers</h2>

<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total
    <h4></h4>
    <div class="row">
        <div class="col-md-6 col-md">
            <li><a asp-controller="App" asp-action="DisputeTransaction">Failed Outwards</a></li>
            <form method="get">
                <div class="form-group">
                    <label>From</label>
                    <input type="date" name="From" class="form-control datepicker" id="from" />
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input type="date" name="To" class="form-control datepicker" id="to" />

                </div>
                <div class="form-group">
                    <label>Sender No</label>
                    <input type="text" name="SenderNo" class="form-control" id="senderno" />
                </div>
                <div class="form-group">
                    <label>Beneficiary No</label>
                    <input type="text" name="BeneficiaryNo" class="form-control" id="beneficiaryno" />
                </div>
                <div class="form-group">
                    <a asp-action="" asp-controller="App" class="btn btn-default">Reset</a>
                    <input type="submit" id="submitbutton" name="Submit" value="Search" class="btn btn-success" />
                </div>
            </form>

            <div class="tablecontainer">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100" id="utable">
                    <br />
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="th-sm">Time</th>
                            <th class="th-sm">Originator Name</th>
                            <th class="th-sm">Originator Account</th>
                            <th class="th-sm">Beneficiary Account</th>
                            <th class="th-sm">Beneficiary Bank</th>
                            <th class="th-sm">Amount</th>
                            <th class="th-sm">Session ID</th>
                            <th class="th-sm">Details</th>

                            @*@if (User.Identity.IsAuthenticated)
        {
            <th class="th-sm">Quick Action</th>
            <th class="th-sm">More</th>

        }*@
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 0;
                            @foreach (var item in Model)
                        {
                            @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                            @*<tr style="@(item.Available == "True" ? "background-color:green" : "background-color:red")">*@
                        <tr>

                            <td>
                                @{i = i + 1;
                                    @i;}
                            </td>
                            <td>@item.Time</td>
                            <td>@item.OriginatorNameField</td>
                            <td>@item.OriginatorNumberField</td>
                            <td>@item.BeneficiaryNumberField</td>
                            <td>@item.BeneficiaryBankField</td>
                            <td>@item.Amount</td>
                            <td>@item.SessionID</td>
                                         <td>
                                                <input type="button" name="Details" id='id_@item.SessionID' class="btn btn-success" onclick="showMoreDetails('@item.Remark', '@item.TransactionRef','@item.nibssResponseField', '@item.nibssRequeryResponseField', '@item.StatusField', '@item.SNField','@item.feeField', '@item.coreResponseField','@item.coreReversalResponseField', '@item.DestinationBank', '@item.systemMessageField', '@item.pendingRetrialField','@item.Channel')" value="Details" />
                                            </td>

                                </tr>

                            }}

                        </tbody>
                    </table>
                </div>

            </div>



            <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/js/site.js"></script>
            <script>

            </script>
        </div>
        <div class="loader hideLoader">
            <span>Loading...</span>
        </div>
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Transation Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div>
                                <form name="selectDialog">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="sn">Serial No</label>
                                            <text class="form-control" name="sn" id="sn"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="tranref">Transaction Ref</label>
                                            <text class="form-control" name="tranref" id="tranref"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="status">Status</label>
                                            <text class="form-control" name="status" id="status"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="coreresp">Core Response</label>
                                            <text class="form-control" name="coreresp" id="coreresp"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="resp">Core Reversal</label>
                                            <text class="form-control" name="corereversal" id="corereversal"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="resp">NIBSS Response</label>
                                            <text class="form-control" name="resp" id="resp"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="reqresp">NIBSS Requery Response</label>
                                            <text class="form-control" name="reqresp" id="reqresp"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="fee">Destination</label>
                                            <text class="form-control" name="destination" id="destination"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="fee">System Message</label>
                                            <text class="form-control" name="systemmessage" id="systemmessage"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="fee">Pending Retrial</label>
                                            <text class="form-control" name="pendingretrial" id="pendingretrial"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="fee">Channel</label>
                                            <text class="form-control" name="channel" id="channel"></text>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="fee">Fee</label>
                                            <text class="form-control" name="fee" id="fee"></text>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
