﻿@model IEnumerable<Monitoring.Models.PendingApproval>
@{
    ViewBag.Title = "Pending Approvals";
}
<h2>Pending Approval Items</h2>


<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Requests: 
</h4>
<h4>
    Total Pending:
</h4>
<h4>
    Total Treated:
</h4>

<div class="row">
    <div class="col-md-6 col-md">
        <div class="tablecontainer">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100" id="utable">
                <br />
                <thead>
                    <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Date Submitted</th>
                        <th class="th-sm">Transaction Type</th>
                        <th class="th-sm">Record</th>
                        <th class="th-sm">Account No</th>
                        <th class="th-sm">Initiated By</th>
                        <th class="th-sm">Amount</th>
                        <th class="th-sm">Action</th>
                        @*//  @if (User.IsInRole("Admin"))
        //  {*@
                        <th class="th-sm">Treat</th>
                        <th class="th-sm">Quick Action</th>


                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;
                        @foreach (var item in Model)
                        {
                        @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                        @*<tr style="@(item.Available == "True" ? "background-color:green" : "background-color:red")">*@
                    <tr>

                        <td>
                            @{i = i + 1;
                                @i;}
                        </td>
                        <td>@item.DateSubmitted</td>
                        <td>@item.Name</td>
                        <td>@item.RecordID</td>
                        <td>@item.AccountNo</td>
                        <td>@item.InitiatedBy</td>
                        <td>@item.Amount</td>
                        <td>@item.ActionName</td>
                        @*@if (User.IsInRole("Admin"))
        {*@
                        <td>

                            <input type="button" name="Treat" id='id_@item.RecordID' class="btn btn-success" onclick="showMoreDetailsPendingApproval('@item.Remark', '@item.TransactionRef','@item.NIBSSResponse', '@item.NIBSSRequery', '@item.Status', '@item.SN','@item.Fee', '@item.CoreResponse', @item.ID, '@item.Name', '@User.Identity.Name','@item.CoreResponseReversal', '@item.DestinationBank', '@item.SystemMessage', '@item.PendingRetrial','@item.Channel','@item.BeneficiaryName','@item.BeneficiaryNo','@item.BeneficiaryBank','@item.OriginatorName','@item.OriginatorNo','@item.OriginatorBank' )" value="Treat" />

                        </td>
                        <td>
                           <input type="button" name="Reject" id='id_@item.ID' class="btn btn-danger" onclick="rejectWorkItem('@item.ID', '@item.Name', '@User.Identity.Name')" value="Reject" />
                            @Html.Hidden("RedirectTo", Url.Action("PendingApproval", "App"))
                        </td>
                    </tr>

                    }  }

                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/js/site.js">
    </script>
</div>
<div class="loader hideLoader">
    <span>Loading...</span>
</div>
<div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Action Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>
                        <form name="selectDialog">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-12 col-form-label">Remark</label>
                                <div class="col-sm-12">
                                    <textarea rows="5" type="text" class="form-control" name="inputName" id="area1" placeholder="" disabled></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submitFrm" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transation Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>
                        <form name="selectDialog">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="sn">Beneficiary Name</label>
                                    <text class="form-control" name="bname" id="bname"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="sn">Beneficiary No</label>
                                    <text class="form-control" name="bno" id="bno"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="sn">Beneficiary Bank</label>
                                    <text class="form-control" name="sn" id="bbank"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="sn">Sender Name</label>
                                    <text class="form-control" name="sname" id="sname"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="sn">Sender No</label>
                                    <text class="form-control" name="sno" id="sno"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="sn">Sender Bank</label>
                                    <text class="form-control" name="sbank" id="sbank"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="sn">Serial No</label>
                                    <text class="form-control" name="sn" id="sn"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="tranref">Transaction Ref</label>
                                    <text class="form-control" name="tranref" id="tranref"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="status">Status</label>
                                    <text class="form-control" name="status" id="status"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="coreresp">Core Response</label>
                                    <text class="form-control" name="coreresp" id="coreresp"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="resp">Core Reversal</label>
                                    <text class="form-control" name="corereversal" id="corereversal"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="resp">NIBSS Response</label>
                                    <text class="form-control" name="resp" id="resp"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="reqresp">NIBSS Requery Response</label>
                                    <text class="form-control" name="reqresp" id="reqresp"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="fee">Destination</label>
                                    <text class="form-control" name="destination" id="destination"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="fee">System Message</label>
                                    <text class="form-control" name="systemmessage" id="systemmessage"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="fee">Pending Retrial</label>
                                    <text class="form-control" name="pendingretrial" id="pendingretrial"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="fee">Channel</label>
                                    <text class="form-control" name="channel" id="channel"></text>
                                </div>
                                <div class="col-sm-12">
                                    <label for="fee">Fee</label>
                                    <text class="form-control" name="fee" id="fee"></text>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-12 col-form-label">Remark</label>
                                <div class="col-sm-12">
                                    <textarea rows="5" type="text" class="form-control" name="inputName" id="area" placeholder="" disabled></textarea>
                                </div>
                            </div>
                            <input class="form-control" name="id" id="id" type="hidden"/>
                            <input class="form-control" name="action" id="action" type="hidden" />
                            <input class="form-control" name="user" id="user" value="@User.Identity.Name"  type="hidden"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="rejectOnModal()">Reject</button>
                <button type="button" id="submitFrm" class="btn btn-primary" onclick="approveOnModal()">Approve</button>
            </div>
        </div>
    </div>
</div>