﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Monitor.ViewModels.SendEmailViewModel
@{
    ViewBag.Title = "Send Email";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <li><a asp-controller="App" asp-action="SentMails">All Sent Emails</a></li>
        <br />
        <h2>New Email</h2>
        <form action="@Url.Action("SendEmail", "App")" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="From">From</label>
                <input asp-for="From" type="email" name="From" value="" class="form-control" />
                <span asp-validation-for="From" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Alias">Alias</label>
                <input asp-for="Alias" type="text" name="Alias" value="" class="form-control" />
                <span asp-validation-for="Alias" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="To">To</label>
                <input asp-for="To" type="text" name="To" value="" class="form-control" />
                <span asp-validation-for="To" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject">Subject</label>
                <input asp-for="Subject" type="text" name="Subject" value="" class="form-control" />
                <span asp-validation-for="Subject" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Template</label>
                <textarea asp-for="Template" name="Template" value="" cols="40" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Template" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea asp-for="Message" name="Message" value="" cols="40" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Send">Send Time</label>
            <input asp-for="Send" type="text" name="Send" value="" class="form-control" />
            <span asp-validation-for="Send" class="text-muted"></span>
        </div>*@
            <div class="form-group">
                <a asp-action="Index" asp-controller="App" class="btn btn-default">Cancel</a>
                <input type="submit" name="Submit" value="Send Mail" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>