﻿@model IEnumerable<Monitor.Models.BulkMails>
@{
    ViewBag.Title = "Sent Emails";
}
<h2>Sent Emails</h2>
@{int i = 1;}

<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Sent: @Model.Where(x => x.Status== 1).Count()
</h4>
<h4>
    Total Failed: @Model.Where(x => x.Status == 0).Count()
</h4>
<div class="row">
    <div class="col-md-6">

        <table class="table table-hover table-bordered">
            <tr>
                <th>#</th>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Time</th>
            </tr>
            @foreach (var mail in Model)
            {
               
                <tr style="@(mail.Status == 1 ? "background-color:green" : "background-color:red")">
                    <td>
                        @{i = i + 1;}
                </td>
                <td>@mail.From</td>
                <td>@mail.To</td>
                <td>@mail.Subject</td>
                <td>@mail.Time.ToString()</td>
            </tr>

        }

            @*<tr bgcolor="green">
                    <td>1</td>@(appzone.Available=="True" ? "available" : "unavailable")
                    <td>GetCustomerCards</td>
                    <td>thirdpartyapiservice/apiservice/Cards/GetCustomerCards</td>
                    <td>400</td>
                    <td>YES</td>
                </tr>
                <tr bgcolor="green">
                    <td>2</td>
                    <td>GetCardOwner</td>
                    <td>thirdpartyapiservice/apiservice/Cards/GetCardOwner</td>
                    <td>200</td>
                    <td>YES</td>
                </tr>
                <tr bgcolor="red">
                    <td>3</td>
                    <td>Hotlist</td>
                    <td>thirdpartyapiservice/apiservice/Cards/Hotlist</td>
                    <td>503</td>
                    <td>NO</td>
                </tr>*@
        </table>
    </div>
</div>