﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model Monitor.ViewModels.ContactViewModel*@
@{
    ViewBag.Title = "List of services";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
    <h2>List of services monitored by this app</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            
            <table class="table table-hover table-bordered">
                <br />
                <tr>
                    <th>#</th>
                    <th>Vendor</th>
                    <th>Direction</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Access Bank</td>
                    <td>Inward</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Appzone</td>
                    <td>Outward</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Etranzact</td>
                    <td>Outward</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>InfoBip</td>
                    <td>Outward</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Zenith Bank</td>
                    <td>Outward</td>
                    <td>NO</td>
                </tr>
                </table>
        </div>
    </div>