﻿@model IEnumerable<Monitor.Models.Account>
@{
    ViewBag.Title = "All agents";
}
<h2>Agent Management</h2>


<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Sub Accounts: @Model.Where(x => x.ID != 0).Count()
</h4>
<h4>
    Super Agent: 
</h4>


<div class="row">
    <div class="col-md-6 col-md">
        <div class="tablecontainer">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100" id="utable">
                <br />
                <thead>
                    <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Account No</th>
                        <th class="th-sm">First Name</th>
                        <th class="th-sm">Middle Name</th>
                        <th class="th-sm">Last Name</th>
                        <th class="th-sm">No of Sub Accounts</th>
                        <th class="th-sm">Gender</th>
                        <th class="th-sm">Email</th>
                        <th class="th-sm">Phone</th>
                        <th class="th-sm">BVN</th>
                        @*<th class="th-sm">Quick Action</th>*@
                        <th class="th-sm">Manage Account</th>

                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;
                        @foreach (var item in Model)
                        {
                            @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                            @*<tr style="@(item.Available == "True" ? "background-color:green" : "background-color:red")">*@
                    <tr>

                        <td>
                            @{i = i + 1;
                                @i;}
                        </td>
                        <td>@item.accountno</td>
                        <td>@item.firstName</td>
                        <td>@item.middleName</td>
                        <td>@item.lastName</td>
                        <td>0</td>
                        <td>@item.sex</td>
                        <td>@item.email</td>
                        <td>@item.phone</td>
                        <td>@item.bvn</td>
                        @*<td>

                            <input type="button" name="Place PND" id='id_@item.accountno' class="btn btn-danger" onclick="activatePND(@item.accountno)" value="Place PND" /> | <input type="button" name="Remove PND" id='id_@item.accountno' class="btn btn-default" onclick="deactivatePND('@item.accountno')" value="RemovePND" />
                            @Html.Hidden("RedirectTo", Url.Action("AgentList", "App"))

                        </td>*@
                        <td>
                            @Html.ActionLink("Edit", "EditAgent", new { id = item.ID }) |
                            @Html.ActionLink("Details", "AgentDetails", new { id = item.ID })
                        </td>

                    </tr>

                        } }

                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/js/site.js">
    </script>
</div>
<div class="loader hideLoader">
    <span>Loading...</span>
</div>
