﻿@model IEnumerable<Monitor.Models.VerificationDetail>
@{
    ViewBag.Title = "All ID Verification Requests";
}
<h2>Verification Overview</h2>


<h4>Last Updated: @DateTime.Now.ToLongTimeString()</h4>
<h4>
    Total Upgraded: @Model.Where(x => x.isApproved == true).Count()
</h4>
<h4>
    Total Rejected: @Model.Where(x=> x.isRejected == true).Count()
</h4>

<div class="row">
    <div class="col-md-6 col-md">
        <div class="tablecontainer">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100" id="utable">
                <br />
                <thead>
                    <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Username</th>
                        <th class="th-sm">First Name</th>
                        <th class="th-sm">Middle Name</th>
                        <th class="th-sm">Last Name</th>
                        <th class="th-sm">ID Type</th>
                        <th class="th-sm">ID No</th>
                        <th class="th-sm">Date Verified</th>
                        <th class="th-sm">File Uploaded</th>
                        <th class="th-sm">Profile Picture</th>
                        <th class="th-sm">Remark Code</th>
                        <th class="th-sm">Approval Status</th>
                        <th class="th-sm">Rejection Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;
                        @foreach (var item in Model)
                    {
                        @*<li> @trip.Name (@trip.Created.ToShortDateString()</li>*@
                        @*<tr style="@(item.Available == "True" ? "background-color:green" : "background-color:red")">*@
                    <tr>

                        <td>
                            @{i = i + 1;
                                @i;}
                        </td>
                        <td>@item.username</td>
                        <td>@item.firstname</td>
                        <td>@item.middlename</td>
                        <td>@item.lastname</td>
                        <td>@item.id_type</td>
                        <td>@item.id_number</td>
                        <td>@item.dateverified</td>
                        <td><a href="@item.documentUrl" target="_blank">Document</a> </td>
                        <td><a href="@item.pictureUrl" target="_blank">Face</a> </td>
                        <td>@item.resultCode</td>
                        <td>

                            @item.isApproved

                        </td>
                        <td>

                            @item.isRejected

                        </td>
                    </tr>

                    }  }

                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/Jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/js/site.js">
    </script>
</div>
<div class="loader hideLoader">
    <span>Loading...</span>
</div>
